@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{    
    ViewData["Title"] = "Home";
}

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle " id="portrait" src="img/IMG_0031.jpg" /></div><!--Image of me doing something I like to do-->
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">I like to</h2>
                        <p>go hiking with my amazing husband Jack!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <h2 class="display-4">What I hope to get out of the semester:</h2> <!--Column 1-->
                    <p>
                        What I am looking to get out of this semester is to NOT dislike coding. In the first semester
                        of the core I struggled with programming and specifically object-oriented programming. Because of
                        my hectic schedule I was not able to give my code as much time as I would have liked which resulted
                        in a general feeling of frustration. This semester I have lightened my load and want to take my time
                        to learn concepts without disliking them as much.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">The top three careers I want to pursure after graduating are:</h2> <!--Column 2-->
                        <ol>
                            <li>Project Management</li>
                            <li>Systems Analyst</li>
                            <li>High School coding teacher</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>  